## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [2]:
7*7*7*7

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s=['Hi','there','dad!']

In [4]:
s

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = "The diameter of {} is 12742 kilometers".format(planet)

In [6]:
print(diameter)

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [8]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [11]:
d ["k1"][3]["tricky"][3]["target"][3]

'hello'

** What is the main difference between a tuple and a list? **

In [23]:
The main differences between lists and tuples are,Lists are enclosed in brackets([]) and their elements and size can be changed,while tuples are enclosed with(()) and their elements and size cannot be changed.

SyntaxError: ignored

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [25]:
def domainGet(email):
    print("Your domain is: " + email.split('@')[-1])

email = input("Please enter your email: >")
domainGet(email)

Please enter your email: >abcd@gmail.com
Your domain is: gmail.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [13]:
def identifydog(home):
    if 'dog' in home:
        print("True")
    else:
        print("False")

In [14]:
home = "where there is a home there is a dog"
identifydog(home)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [15]:
value = 'This dog runs faster than the other dog dude!'

In [16]:
def countdogs(value):
    count = 0
    for word in value.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print(count)

countdogs(value)

1
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [18]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [19]:
caught_speeding(91,True)

'Big Ticket'

In [20]:
caught_speeding(66,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [21]:
employee_names = ["abc", "def", "ghi", "jkl", "mno", "pqr"] 
employee_salaries = {} 
for employee in employee_names: 
    while True: # Input validation loop 
        try: 
            employee_salaries[employee] = int(input("Enter {employee} salary: "))
            break 
        except ValueError: 
            print("Invalid input") 
print(employee_salaries) 
total = sum(employee_salaries.values())
print(total)

Enter {employee} salary: 10000
Enter {employee} salary: 30000
Enter {employee} salary: 15000
Enter {employee} salary: 20000
Enter {employee} salary: 12000
Enter {employee} salary: 23000
{'abc': 10000, 'def': 30000, 'ghi': 15000, 'jkl': 20000, 'mno': 12000, 'pqr': 23000}
110000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [22]:
dic1 = {'Empid':'9129', 'Empname':'xxx', 'Basicpay':'25000'}
dic2 = {'DeptName':'CSE', 'DeptId':'CS123'}
dic1.update(dic2)
dic1

{'Empid': '9129',
 'Empname': 'xxx',
 'Basicpay': '25000',
 'DeptName': 'CSE',
 'DeptId': 'CS123'}